body {
    background: rgb(93, 93, 199);
    font: normal 15pt arial;
}

header {
    color:white;
    text-align: center;
}

section {
    background: rgba(255, 255, 255, 0.726);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 0.5em 0.5em 1em rgba(0, 0, 0, 0.411);
}

div {
    text-align: center;
    padding: 8px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}