body {
    background: rgb(93, 93, 199);
    font: normal 15pt arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 5em;
    padding: 1em;
    width: 30em;
    margin: auto;
    box-shadow: 0.5em 0.5em 1em rgba(0, 0, 0, 0.411);
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}