h1, #primeiro{
    font-size: 12px;
    background-color: blueviolet;
}

h3{
    color: darkblue;
    text-shadow: black 2px 2px;
}

img{
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.int{
    text-decoration: line-through;
}

.lp{
    background-color: brown;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}